.container {
    max-width: 1540px;
    display: block;
    margin: 0 auto;
    padding: 0 15px;
}

.main_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    max-width: 1440px;
    margin: 0 auto;
    gap: 20px;
}


/* Media */

@media screen and (max-width: 425px) {
    .container{
        padding: 6px;
    }
}